extends layout

block content
  h1= title
  - const rocket  = ['rocket_type','quantity','cost']
  - let results;
  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
      each results, index in rocket 
        div(class='col-sm-2' onclick='buy('+index+')') #{results} 
        

  
